div{
    height: 100px;
    width: 100px;
    background: red;
}

p{
    width: 100px;
    background: lime;
    color: blue;
    cursor: pointer;
}

span{
    display: inline-block;
    width: 10px;
    height: 10px;
    color: red;
}







